body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  background-color: #f9f5f6;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  height: auto;
  background-color: white;
}
ul {
  list-style-type: none;

  display: flex;
}
li {
  padding: 5px;
}
.profile {
  top: 40px;
  border-radius: 10px;
  position: relative;
  left: 10%;
  width: 80%;
  height: 570px;
  background-repeat: no-repeat;
  background-size: 100% 400px;
  background-color: white;
  opacity: 0.8;
  background-image: url("https://odindesignthemes.com/vikinger/img/cover/01.jpg");
}
.profile-cover {
  position: absolute;
  top: 250px;
  left: 40%;
}
.add-friend {
  position: absolute;
  top: 350px;
  left: 80%;
}

.social-medias {
  position: absolute;
  top: 400px;
  width: 100%;
  z-index: -1;

  display: flex;
  align-items: center;
}
.name {
  text-align: center;
  position: absolute;
  left: 41%;
  top: 50px;
}

.icons {
  position: absolute;
  top: 720px;
  height: auto;
  width: 80%;
  background-color: white;
  border-radius: 10px;
  left: 10%;
}
.left-side1 {
  position: absolute;
  background-color: white;
  height: auto;
  border-radius: 8px;
  padding: 20px;
  top: 790px;
  width: 20%;
  left: 10%;
}
.about-me,
.details {
  display: flex;
  justify-content: space-between;
}
.mid1 {
  position: absolute;
  top: 790px;
  height: 500px;
  width: 35%;
  border-radius: 8px;
  left: 34%;
  background-color: white;
}

.right-side1 {
  position: absolute;
  top: 790px;
  left: 70%;
  border-radius: 8px;
  width: 20%;

  background-color: white;
}
